.sidebar-menu {
    width: 230px;
    height: 1149px;
    flex-shrink: 0;
    background: #FFF;
}

.custom-logo {
    padding-top: 55px;
    padding-left: 29px;
    width: 71px;
    height: 36px;
    flex-shrink: 0;
}